body {
	background-image:url("../images/background.jpg");
	height: 1200px;
	font-family: Tahoma;
	color: #FFFFFF;
}

div#logo {
	height: 30px;
}

img#logo {
	float:right;
}

i {
	color: green;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: #FFFFFF;
}

div#select {
	height: 190px;
}

div#obiwan {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
}

img#obiwan {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#anakin {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
}

img#anakin {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#starkiller {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
}

img#starkiller {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#maul {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
}

img#maul {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#sidious {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
	display: none;
}

img#sidious {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#vader {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
	display: none;
}

img#vader {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#yoda {
	background-color: black;
	border-style: groove;
	border-color: gray;
	border-width: thick;
	color: white;
	height: 195px;
	width: 170px;
	float: left;
	margin: 0 8px;
	display: none;
}

img#yoda {
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

div#characters {
	height: 220px;
	margin-left: 5px;
}

div#fightbutton {
	clear: both;
}

button#attack {
	margin-top: 5px;
	margin-left: 10px;
}

div#enemies {
	height: 220px;
	margin-left: 5px;
}

div#defender {
	height: 250px;
	width: 300px;
	margin-left: 5px;
}

div#gametextA {
	clear: both;
	color: white;
	width: 550px;
	margin-left: 5px;
}

div#gametextB {
	color: white;
	width: 550px;
	margin-left: 5px;
}

div#commentary {
	color: white;
	width: 550px;
	margin-left: 5px;
}

div#commentary {
	color: white;
	width: 550px;
	margin-left: 5px;
}

div#restart {
	display: none;
	margin-left: 10px;
}

div#nameA, #nameB, #nameC, #nameD, #nameE, #nameF, #nameG {
	text-align: center;
	margin-top: 5px;
}

section#hpA, #hpB, #hpC, #hpD, #hpE, #hpF, #hpG {
	text-align: center;
	margin-top: 5px;
}


